:root{
    /*declaramos variables utilizando -- al inicial y damos nombre a esta variable, luego asignamos un valor a esta variable*/
    --color-primario: black; 
    --color-secundario: #F6F6F6;
    --color-terciario: #22D4FD;

    --fuente-montserrat: "Montserrat", sans serif;
    --fuente-krona: "Krona One", sans serif;    

} /*declaracion de variables en css*/

.formaciones {
    text-align: center;
}

.formaciones__contenido {
    width: 80%;
    margin: 0 auto;
    border: 1px solid white;
    padding: 20px;
    border-radius: 10px;

}

.formaciones__contenido ul{
    display: flex;
    flex-direction: column;
    gap: 10px;    

}

.formaciones__contenido h2{
    font-size: 1.75rem;
    font-family: var(--fuente-krona);
}

.formaciones__contenido ul li {
    text-align: start;
    font-size: 1.25rem;
    font-family: var(--fuente-montserrat);
}

.formaciones__contenido ul li:nth-of-type(4) {
    list-style-type: none;
}

.formaciones__contenido ul li a{
    text-decoration: none;
    color: var(--color-terciario);
}

@media (min-width: 768px) {

    .formaciones {
        padding: 4%;
    }

    .formaciones__contenido {
        width: 80%;
    }

    .formaciones__contenido h2{
        font-size: 2.25rem;
    } 
    
    .formaciones__contenido ul li {
        font-size: 1.5rem;
    }
}